*{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px; 
    background-color: black;
    border-color: white;

}
button{
    background-color:#f08804 ;
}
#logo{
    color: #f08804;
    font-size: 24px;
}
a{
    margin-right: 200px;
}
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    
}
footer{
    height: 200px;
    background-color:black ;
    text-align: center;
}
#content{
    height: 500px;
}